{% extends "base.html" %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Peer One on One</h1>
        </div>
        <h2>
            Pairs of people for one one ones
        </h2>
        <font size="+2">
            <p class="col-lg-6 pre-scrollable">
                {% for pair in pairs %}
                    {{ pair[0] }} <--> {{ pair[1] }} <br>
                {% endfor %}
            </p>
        </font>
        <form action="{{ url_for('schedule') }}" method="post">
            <input type="hidden" name="pairs" value="{{ pairs_string }}"></input>
            <input type="submit" value="Schedule Meetings" class="btn-lg btn-primary">
        </form>
    </div>
{% endblock %}
