{% extends "base.html" %}

{% block body %}
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script>
    $(function() {
         $( "#calendar" ).datepicker();
    });
    </script>

    <div class="container">
        <div class="jumbotron" style="background:#5bc0de !important">
            <h1>Peer One on One</h1>
            <p>This page lists a proposed list of all pairs</p>
        </div>
        <font size="+2">
            {% if pairs_doc.no_pair%}
            <div>
                This week we had an odd number of people. <strong>{{pairs_doc.no_pair}}</strong> will not be scheduled for a one one one. He or she will be emailed.
            </div>
            {% endif %}
            <div>
                {% for pair in pairs_doc.pairs %}
                    <row>
                        <div class="col-md-2"></div>
                        <div class="col-md-3">{{ pair[0] }}</div>
                        <div class="col-md-3"><----------------></div>
                        <div class="col-md-3">{{ pair[1] }}</div>
                    </row>
                    <br>
                {% endfor %}
            </div>
        </font>
        <br>
            <div>
                <form action="{{ url_for('schedule') }}" method="post" id="schedule_attributes">
                    <input type="hidden" name="pairs_doc" value="{{ pairs_doc_string }}"></input>
                    <row>
                        <div class="col-md-4"></div>
                        <div><strong>Enter a suggested date for the one on ones to happen</strong></div>
                    </row>
                    <row>
                        <div class="col-md-5"></div>
                        <input type="date" name="meeting_date"></input>
                    </row>
                    <br> <br>
                    <row>
                        <div class="col-md-4"></div>
                        <div><strong>Enter an extra message to send to recipients</strong></div>
                    </row>
                    <row>
                        <div class="col-md-3"></div>
                        <textarea name="extra_meeting_message" form="schedule_attributes" placeholder="Enter a message to send to meeting invitees" rows=3 cols=70></textarea>
                    </row>
                    <br> <br>
                    <row>
                        <div class="col-md-5"></div>
                        <input type="submit" value="Schedule Meetings" class="btn-lg btn-primary">
                    </row>
                </form>
            </div>
    </div>

{% endblock %}
